.header {
  /* display: flex;
  height: 70px;
  justify-content: space-between; */
  /* align-items: center; */
  padding: 12px 35px;
}

.header__elements {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
}
.header__title {
  margin: 0;
  color: white;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  height: 100%;
  transition: 0.5s ease;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0);
}

.header__button {
  display: flex;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  height: 45px;
  width: 100px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  color: rgb(237, 237, 237);
  box-sizing: border-box;
  transition: 0.3s;
  /* box-shadow: 1px 10px 10px white; */
}

.header__button:hover {
  box-shadow: 1px 4px 10px 5px rgb(60, 60, 60);
}

.header__button-signup {
  font-size: 20px;
  background: none;
}

.header__button-home {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.header__button-home_active {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 251, 251);
  backdrop-filter: blur(20px);
  box-shadow: 1px 4px 10px 4px rgb(60, 60, 60);
}

.header__button-profile {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.header__button-profile_active {
  color: rgb(255, 255, 255);
  border-color: white;
  backdrop-filter: blur(20px);
  box-shadow: 1px 4px 10px 4px rgb(60, 60, 60);
}

@media screen and (max-width: 1023px) and (min-width: 581px) {
}

@media screen and (max-width: 580px) {
  .header__title {
    font-size: 35px;
  }
  .header__nav {
    gap: 5px;
  }
  .header__button {
    scale: 0.85;
  }
}
