.header {
  /* display: flex;
  height: 70px;
  justify-content: space-between; */
  /* align-items: center; */
  padding: 12px 35px;
}

.header__elements {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
}
.header__title {
  margin: 0;
  color: white;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.header__nav {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  transition: 0.5s ease;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.header__nav:hover {
  border-bottom: 1.5px solid rgb(255, 255, 255);
  font-size: 20.5px;
}
