.login__modal {
  display: flex;
  flex-direction: column;
  color: white;
}

.login__modal_input {
  border-radius: 10px;
  border: 1.5px solid rgb(73, 195, 77);

  background-color: rgb(240, 240, 240);
  height: 22px;
  line-height: 20px;
  font-size: 16px;
}

.login__modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login__modal_input-title {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
}

.login__modal_signup {
  position: absolute;
  bottom: 43px;
  left: 160px;
  color: white;
  border: none;
  background: none;
  font-size: 16px;
  line-height: 20px;
  opacity: 50%;
  cursor: pointer;
}

.login__modal_signup:hover {
  color: rgb(73, 195, 77);
}

@media screen and (max-width: 580px) {
  .login__modal_input-title {
    font-size: 14px;
  }
  .login__modal_signup {
    bottom: 22px;
  }
}
